@using Raiz.ViewModels

@model ProdutoSearch

<h1>Produtos</h1>

<a asp-action="Create" class="btn btn-primary">Novo</a>

<fieldset class="mt-3">
    <legend>Filtro de Pesquisa </legend>
    <form asp-action="Index" method="get">
        <div class="row">
            <div class="col-1">
                <div class="form-group">
                    <label asp-for="ProdutoId"></label>
                    <input asp-for="ProdutoId" type="number" step="1" min="1" class="form-control" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" class="form-control" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="PrecoInicial"></label>
                    <input asp-for="PrecoInicial" type="number" step="0.01" min="0" class="form-control" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="PrecoFinal"></label>
                    <input asp-for="PrecoFinal" type="number" step="0.01" min="0" class="form-control" />
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="CategoriaId"></label>
                    <select asp-for="CategoriaId" asp-items="Model.Categorias" class="form-control">
                        <option value="">Todas</option>
                    </select>
                </div>
            </div>
            <div class="col-2 pt-4">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </form>
</fieldset>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var produto in Model.Resultado)
    {
        <tr>
            <td>@produto.ProdutoId</td>
            <td>@produto.Nome</td>
            <td>@produto.Categoria?.Nome</td>
            <td>@produto.Preco.ToString(format: "C")</td>
            <td>
                <a asp-action="Edit"
                   asp-route-id="@produto.ProdutoId"
                   class="btn btn-warning btn-sm">Editar</a>

                <a asp-action="Delete"
                   asp-route-id="@produto.ProdutoId"
                   class="btn btn-danger btn-sm">Remover</a>
            </td>
        </tr>
    }
    </tbody>
</table>
